// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fa {
    font-family: "FontAwesome";
 }

.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
}

.font-awesome {
    font-family: "fontawesome-webfont";
    font-size: 24;
 }
 
 .radioBefore {
    font-family: "fontawesome-webfont";
    font-size: 24;
 }

 // Common page class
 .page-content {

    background-color: rgba(0, 0, 0, 0.925);
    color: #fff;
    font-family: "Copperplate";

     .page-placeholder {
         color: $page-icon-color;
         font-size: $page-content-placeholder-font-size;
         vertical-align: center;
         horizontal-align: center;
     }
 
     .page-icon {
         font-size: 72;
         vertical-align: top;
         horizontal-align: center;
         color: $page-icon-color;
         margin-top: 20%;
     }
 }
 //Action bar
 ActionBar .action-bar-title {
     horizontal-align: center;
 }

.app-header {
    padding: 10;
    color: rgb(221, 221, 221);
    font-family: "Copperplate";
    font-size: 24;
}

.app-header.home {
    background-color: rgb(108, 147, 206);
}

.app-header.ethics {
    background-color: rgb(197, 149, 59);
}

.app-header.rules {
    background-color: rgb(206, 108, 108);
}

.app-header.game {
    background-color: rgb(73, 163, 88);
}

.app-header.settings {
    background-color: rgb(162, 108, 206);
}

.drawerbutton {
    font-size: 30;
}

.content-header {
    font-size: 20;
    padding: 10 0;
    font-family: "Copperplate";
    color: rgb(221, 221, 221);
}

.content-button {
    font-size: 50;
}

.bottom-bar {
    height:50;
    color:#a1a1a1ad;
    margin:0;
    background-color:rgb(255, 255, 255);
    font-size:40;
}

.bottom-active {
    color:#52a4db;
}

.listview {
    color: black; 
}

.listview .item {
    padding: 20 10 20 10;
    font-size: 40;
    font-weight: bold;
    color: rgb(221, 221, 221);
}

.listview .itemimage {
    font-size: 75;
    color: rgba(0, 255, 42, 0.336);
}

.listview .itemtext {
    padding: 0 10 0 10;
    /*color: rgb(108, 147, 206);*/
    background-color: rgba(58, 201, 94, 0.226)
}

.listview .item .h2 {
    margin: 0;
    margin: 0;
    font-size: 20; 
}

.listview .item .p {
    font-size: 14;
    color: #666;
    margin: 0; 
}